<a href="https://colab.research.google.com/github/jiahao20geng/COMP233/blob/main/COMP0233_week3_Defining_functions_and_structuring_a_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def double(x):
    return x * 2

print(double(5), double([5]), double('five'))

10 [5, 5] fivefive

In [ ]:
def jeeves(name = "Sir"):#设定默认值为Sir
    return f"Very good, {name}"
print(jeeves())
print(jeeves('John'))

Very good, Sir
Very good, John

In [ ]:
def jeeves(greeting="Very good", name="Sir"):#设定多个默认值
    return f"{greeting}, {name}"
print(jeeves())
print(jeeves("Hello"))
print(jeeves(name = "John"))
print(jeeves(greeting="Suits you"))
print(jeeves("Hello", "Producer"))

Very good, Sir
Hello, Sir
Very good, John
Suits you, Sir
Hello, Producer

In [ ]:
def double_inplace(vec):
    vec[:]=[element * 2 for element in vec]

z = list(range(4))
double_inplace(z)
print(z)

[0, 2, 4, 6]

In [ ]:
def extend(to, vec, pad):
    if len(vec) >= to:
        return # Exit early, list is already long enough.
    
    vec[:] = vec + [pad] * (to - len(vec))
x = list(range(3))
extend(6, x, 'a')
print(x)

[0, 1, 2, 'a', 'a', 'a']

In [ ]:
def arrow(before, after):
    return f"{before} -> {after}"

arrow(1, 3)

'1 -> 3'

In [ ]:
charges = {"neutron": 0, "proton": 1, "electron": -1}
for particle in charges.items():
    print(arrow(*particle))

neutron -> 0
proton -> 1
electron -> -1

In [ ]:
def doubler(*sequence):#函数定义中有*，吸收多个参数到函数的列表中
    return [x * 2 for x in sequence]
doubler(1, 2, 3)

[2, 4, 6]

In [ ]:
doubler(5, 2, "Wow!")

[10, 4, 'Wow!Wow!']

In [ ]:
def arrowify(**args):#函数定义中有**，则参数为字典的形式
    for key, value in args.items():
        print(f"{key} -> {value}")

arrowify(neutron="n", proton="p", electron="e")

neutron -> n
proton -> p
electron -> e

In [ ]:
def somefunc(a, b, *args, **kwargs):
    print("A:", a)
    print("B:", b)
    print("args:", args)
    print("keyword args", kwargs)
somefunc(1, 2,3,4, 5, fis="da",fish="Haddock")

A: 1
B: 2
args: (3, 4, 5)
keyword args {'fis': 'da', 'fish': 'Haddock'}

In [ ]:
import math
math.sin(1.6)

0.9995736030415051

In [ ]:
type(math)

module

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
import math
from math import sin
sin(math.pi)#已经无限趋近于0了

1.2246467991473532e-16

In [ ]:
class Room(object):
    pass
myroom = Room()
type(myroom)

__main__.Room

In [ ]:
class Room:
    def overfull(self):
        return len(self.occupants) > self.capacity
myroom = Room()
myroom.capacity = 3
myroom.occupants = ["Graham", "Eric"]
myroom.overfull()

False

In [ ]:
myroom.occupants.append(['TerryG'])
myroom.occupants.append(['John'])
myroom.overfull()

True

In [ ]:
class Room:
    def __init__(self, name, exits, capacity, occupants=[]):
        self.name = name
        self.occupants = occupants  # Note the default argument, occupants start empty
        self.exits = exits
        self.capacity = capacity

    def overfull(self):
        return len(self.occupants) > self.capacity
living = Room("Living Room", {'north': 'garden'}, 3)
living.capacity

3

In [ ]:
def barcode(one, two, three=3, four=4):
     output = str(one) + str(two) + str(three) + str(four)
     return output
print(barcode(1,3,5))

1354

In [ ]:
def triple(data):
     return data * 3
print(triple(1))

3